.tr td{
    border-bottom: #83838321 solid 1px;
    height: 70px;
}

.coin{
    display: flex;
    max-width: fit-content;
    gap: 10px; 
    cursor: pointer;
}

.coin img{
    width: 30px;
}

.success{
    color: #2ecc71;
}

.error{
    color: #e74c3c;
}